<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facebook Messages Count</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.0/paper/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
    <script src="freneticbunny.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="fbmsgcount" ng-controller="FbMsgCount">
<div id="fb-root" class="display: none;"></div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Facebook Messages Count</a>
        </div>
    </div>
</nav>

<div class="jumbotron" ng-if="mode === 'intro'">
    <div class="container">
        <h1>Facebook Message Count</h1>

        <p>This app allows you to count how many messages you exchanged with your contact. Everything happens
            in your browser, no information is stored!</p>

        <p>
            <a class="btn btn-primary btn-lg" role="button" href="#" ng-click="logIn()" eat-click="">Show me &raquo;</a>
        </p>
    </div>
</div>

<div class="container" ng-if="mode === 'list'">
    <h1>My Messages</h1>

    <div class="media" ng-repeat="user in list">
        <a class="media-left" ng-href="//facebook.com/{{ user.id }}" target="_blank">
            <img ng-src="//graph.facebook.com/{{ user.id }}/picture?width=64&height=64" alt=""/>
        </a>
        <div class="media-body">
            <h4 class="media-heading">#{{ $index + 1}}&nbsp;&mdash;&nbsp;{{ graphObject(user.id).name || user.id }}</h4>
            <p><ng-pluralize count="user.count" when="{
                '0': 'no messages',
                '1': '1 message',
                'other': '{} messages'
            }"></ng-pluralize></p>
        </div>
    </div>
</div>
</body>
</html>